<a href="https://www.urbaneco.unina.it/"><img src="./assets/img/Urban_eco_logo.jpg" height="100" width="100" alt="Logo UrbanEco"/></a>
<a href="https://www.unina.it"> <img src="./assets/img/Napoli_university_seal_alfachannel.png" height="100" width="100" alt="Logo Università degli studi di Napoli Federico II" /></a>
<a href="https://fondazione-fair.it/"> <img src="./assets/img/Logo_FAIR_colore.svg" height="100" width="100" alt="Logo FAIR" /></a>
<a href="https://www.cnr.it/"> <img src="./assets/img/logo_isti.png"  alt="Logo Consiglio Nazionale delle Ricerche" /> </a>
<a href="https://www.unibz.it/it/"> <img src="./assets/img/unibz_logo.jpg" height="50" width="50" alt="Logo UniBz" /> </a>